@font-face {
    font-family: "MyCustomFont";
    src: url("../assets/fonts/AmaticSC-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyCustomFont";
    src: url("../assets/fonts/AmaticSC-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "MyCustomFont", sans-serif;
}

.app {
    min-height: 100vh;
    font-weight: 700;

    display: flex;
    flex-direction: column;
}

.header {
    height: 30vh;
    border-bottom: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5rem;
    letter-spacing: 2ch;
}

.header.shrink {
    height: 10vh;
    font-size: 3rem;
}

.hero {
    font-weight: bold;
    transform: scaleY(2);
}

.header.shrink .hero {
    transform: scale(1.1);
}

.main {
    flex: 1;
    margin: 1em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/***************/
/*             */
/* START PHASE */
/*             */
/***************/
.choose-opponents {
    color: hsl(0, 0%, 30%);
    font-weight: 900;
    display: flex;
}

.toggle {
    width: 60px;
    height: 155px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.7rem;
    padding: 0.25rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 300ms 300ms;

    border: 1px solid hsl(0, 0%, 30%);
    transition: margin 500ms ease-in-out;
}

.toggle__circle {
    width: 50px;
    height: 50px;
    background-color: hsla(0, 0%, 95%, 0.803);
    border-radius: 50%;
    margin-top: calc(155px - (0.25rem * 2) - 50px);
    transition: margin 500ms ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.toggle-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0.8;
    margin-left: 1em;
}

#is-multiplayer:checked + .toggle > .toggle__circle {
    background-color: hsl(0, 0%, 100%);
    margin-top: 0;
}

#is-multiplayer:checked + .toggle {
    background-color: rgba(214, 214, 214, 0.479);
}

.input-group {
    height: 70px;
    font-size: 2em;
    font-weight: 800;

    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#confirm {
    margin-top: 5vh;
}

/***************/
/*             */
/*   SET UP    */
/*             */
/***************/

.game-guidance {
    padding: 1em;
    cursor: pointer;
    min-width: 200px;

    text-align: start;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 2px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ccc;
    transition: background-color ease 0.4s;
    border: 4px dashed rgba(255, 255, 255, 0);
}

.game-guidance:hover {
    background-color: white;
    border: 4px dashed black;
}

.game-guidance:active {
    filter: brightness(0.8);
    border: 4px dashed black;
}

.set-up {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    gap: 2em;
    position: relative;
}

.unplaced-ships {
    max-width: 420px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    gap: 5px;
    padding-top: 40px;
}

.unplaced-ship {
    background-color: gray;
}

.placed-ship {
    background-color: skyblue;
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.drag-able {
    cursor: grab;
}

.dragging {
    height: 40px;
    background-color: #ccc;
    border: 2px dashed black;
    cursor: grabbing;
    position: absolute;
    z-index: -1;
}

.dragging.vertical {
    transform: rotate(90deg);
}

.gameboard-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    font-size: 1.2em;
    font-weight: bolder;
}

.gameboard-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.gameboard-border {
    display: grid;
    gap: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.border-h {
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: 40px;
}

.border-v {
    grid-template-columns: 40px;
    grid-template-rows: repeat(10, 40px);
}

.gameboard {
    z-index: 0;
    opacity: 0.7;
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    background-color: #000000;
}

.gameboard-cell {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    overflow: visible;
}

.gameboard-cell[data-adjacent="true"]:not([data-id]) {
    background-color: #ccc;
}

.gameboard-cell[data-id] {
    background-color: skyblue;
}

.gameboard-cell.place-valid {
    background-color: lightgreen !important;
    opacity: 1;
}

.gameboard-cell.place-invalid {
    background-color: red !important;
    opacity: 1;
}

.set-up-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: start;
}

/***************/
/*             */
/*  PLAY MODE  */
/*             */
/***************/

.gameboards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.field {
    display: grid;
    justify-content: center;
    align-items: center;
}

.p1-field.field {
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto;
}

.p1-field .players-name {
    grid-column-start: 2;
}
.p1-field .ship-avatars {
    grid-row-start: 2;
}
.p1-field .gameboard-container {
    grid-row-start: 2;
}

.p2-field.field {
    grid-template-columns: auto 100px;
    grid-template-rows: 50px auto;
}
.p2-field .ship-avatars {
    grid-column-start: 2;
    grid-row-start: 2;
}
.p2-field .gameboard-container {
    grid-column-start: 1;
    grid-row-start: 2;
}

.players-name {
    padding: auto;
    text-align: center;
}

.ship-avatars {
    padding: 3em 1em;
    align-self: start;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ship-avatars > div {
    display: flex;
    gap: 1px;
}

.avatar-box {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: skyblue;
}

.sunken-ship .avatar-box {
    background-color: red;
}

.gameboards .gameboard {
    grid-template-columns: repeat(10, 34px);
    grid-template-rows: repeat(10, 34px);
}

.gameboards .border-h {
    grid-template-columns: repeat(10, 34px);
    grid-template-rows: 34px;
}

.gameboards .border-v {
    grid-template-columns: 34px;
    grid-template-rows: repeat(10, 34px);
}

.gameboard.disabled {
    filter: brightness(0.8);
}

.p2-board > .gameboard-cell {
    cursor: pointer;
}

.gameboard-cell::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "✖";
    text-align: center;
    padding: auto;
    display: none;
}

.p2-board .gameboard-cell:hover::after {
    display: block; /* Show the ::after text when hovered */
}

.attack-hit {
    pointer-events: none;
    background-color: rgb(0, 255, 51) !important;
}

.attack-miss {
    pointer-events: none;
    background-color: red !important;
}

.attack-miss.gameboard-cell::after,
.attack-hit.gameboard-cell::after {
    display: block;
}

/***************/
/*             */
/*    FOOTER   */
/*             */
/***************/

.footer {
    height: 50px;
    border-top: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.4s ease-out 0.1s, transform 0.5s linear;
}

.footer-image img {
    transition: transform 0.6s ease-out;
}

.footer-text {
    color: black;
    font-weight: 600;
    transform: scaleY(1.8);
    transition: all 0.4s linear;
}

/***************/
/*             */
/*    DIALOG   */
/*             */
/***************/

dialog {
    position: absolute;
    min-width: 250px;
    background-color: #ccc;

    border-radius: 5px;
    border: 2px solid black;

    padding: 1em;
    margin: auto;

    animation: fade-out 0.7s ease-out;
}

.message-result {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 40px;
}

dialog .button-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

@media (min-width: 1281px) {
    /* CSS */
}

.footer-link:hover .footer-text {
    letter-spacing: 1.5ch;
}

.footer-link:hover .footer-image {
    opacity: 1;
    transform: translateX(0);
}

.footer-link:hover .footer-image img {
    transform: rotate(-720deg);
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
}
@media (max-width: 480px) {
    .set-up {
        top: -80px;
        transform: scale(0.8);
    }

    .gameboards {
        transform: scale(0.9);
    }
}

@media (max-width: 800px) {
    .set-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .unplaced-ships {
        max-width: 420px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;
        gap: 5px;
        padding: unset;
    }

    .set-up-actions {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-around;
    }

    .field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .ship-avatars {
        flex-direction: row;
        padding: unset;
        margin: 0 auto;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    /* CSS */
    .header {
        font-size: 4rem;
        letter-spacing: 0.5ch;
    }
    .choose-opponents {
        transform: scale(0.8);
    }
}
